# Environment
.env

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Node
node_modules/
dist/

# Project data
backend/data/raw/*
backend/data/processed/*
backend/data/verified/*

# IDE
.vscode/
.idea/
